<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2021 Nicolas Mayeur

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Microsoft.Data.Sqlite.Core" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="3.1.11" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite.Core" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="3.1.11" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.11" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="4.7.6" targetFramework="net472" />
  <package id="NLog.Extensions.Logging" version="1.7.0" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.0.4" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.0.4" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.4" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>